---
import StrongYellow from "./StrongMono.astro";
---

<div class="flex flex-row gap-x-8">
  <article class="text-pretty">
    <p class="mb-5">
      Me llamo Juan José, pero mis amigos me llaman Juanjo. Empecé en el mundo
      de la programación cuando decidí apuntarme a un Ciclo Formativo Superior y
      desde entonces sigo en esta aventura de no parar de aprender. <StrongYellow
        >Al poco de terminar empecé a trabajar en varias empresas principalmente
        como desarrollador fullStack</StrongYellow
      >.
    </p>
    <p>
      Actualmente trabajo principalmente con <StrongYellow>Java</StrongYellow>,
      pero el lenguaje que más me gusta es <StrongYellow
        >Javascript</StrongYellow
      >
      y sus muchos frameworks que hacen cada día que programar sea algo mágico. De
      mis favoritos se incluyen <StrongYellow>React</StrongYellow> y
      <StrongYellow>Tailwind CSS</StrongYellow> para la construcción de interfaces
      y de <StrongYellow>NextJS</StrongYellow> para aplicaciones un poco más completas.
    </p>
  </article>
  <img
    class="size-3/12 rotate-3"
    src="/assets/me.webp"
    alt="yo"
  />
</div>
