---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Software Engineer II en Appian",
    description:
      "Trabajo como ingeniero de software en Appian con RPA y la automatización de procesos robóticos.",
    // link: "#",
  },
  {
    date: "Julio 2017",
    title: "Desarrollador de software en Novayre",
    description:
      "Desarrollador de una aplicación de firmas digitales para grandes empresas y personas públicas.",
  },
];
---

<ol class="relative border-s border-gray-500 dark:border-gray-700 ml-3">
  {
    EXPERIENCE.map((item) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...item} />
      </li>
    ))
  }
</ol>
