<footer
  class="rounded-lg shadow m-4 bg-black/5 dark:bg-black/20 backdrop-blur-lg w-full xl:w-[740px] mx-auto mb-10">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span
      class="text-sm dark:text-yellow-200/50 text-yellow-600/90 sm:text-center"
      >© 2024 <a
        href="https://kurtex.com/"
        class="hover:underline"
        >Juanjo</a
      >. Todos los derechos reservados.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium sm:mt-0 text-gray-700">
      <li>
        <a
          href="#experience"
          class="me-4 md:me-6"
          >Experiencia</a
        >
      </li>
      <li>
        <a
          href="#projects"
          class="me-4 md:me-6"
          >Proyectos</a
        >
      </li>
      <li>
        <a
          href="#about"
          class="me-4 md:me-6"
          >Sobre mí</a
        >
      </li>
      <li>
        <a
          href="mailto:juanjosevl@gmail.com"
          class=""
          >Contacto</a
        >
      </li>
    </ul>
  </div>
</footer>
