<header class="flex justify-between py-5 w-full xl:w-[1120px] mx-auto">
<img 
src="https://media.licdn.com/dms/image/v2/C4D03AQEObSBngrMayQ/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1579773207204?e=1730332800&v=beta&t=llVYY2U0DwoHzDYKU6oDR9TXO2enHePAxf7XuZ4Fo6A" 
class="rounded-full flex size-9" alt="logo"/>

<nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#top">Inicio</a>
    <a href="#about">Sobre mí</a>
    <a href="#experience">Experiencia</a>
    <a href="#projects">Proyectos</a>
    <a href="#contact">Contacto</a>
</nav>
</header>