<a class="flex flex-row justify-center rounded-full border gap-x-1 
gap-y-3 border-white/20 items-center p-2 opacity-80 mt-6
py-1 px-2 md:py-2 md:px-4 
text-xs md:text-base
bg-white/5 hover:scale-110 hover:bg-white/15 transition" 
href={Astro.props.href} target="_blank" rel="noopener">
<slot />        
</a>